/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap');

/* Basic Layout */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #f7f3eb;
}

main {
    flex: 1 0 auto;
    background-color: #e7dbc8;
}

/* Header */
.navbar-title {
    font-size: 3rem;  /* Adjusted for better responsiveness */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    text-align: center;
    padding-bottom: 30px;
    color: #6d4c41;
    margin: 0;
}

.navbar-nav {
    background-color: #4e342e;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.nav-link {
    color: #d7ccc8;
    font-weight: 600;
}

.nav-link:hover {
    color: #ffb74d;
    transition: color 0.2s ease;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #ffb74d;
}

.active {
    border-bottom: 2px solid #6d4c41;
    font-weight: 500;
}

/* Form */
.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background-color: #fff;
}


footer {
    flex-shrink: 0;
     background-color: #4e342e;
    color: #d7ccc8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.icon {
    height: 2rem;
    width: 30px;
    margin: 0 1.5rem;
}



/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    max-width: 100%;
    margin: 0 auto;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #ffcc80;
    color: #3e2723;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #d7ccc8;
    transform: skew(15deg);
    z-index: 100;
}

/* Cards */
.card {
    border: none;
    background-color: #fafafa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Images */
.image-wrapper {
    position: relative;
    overflow: hidden;
    height: 50vh; /* Adjusted for better fit */
    max-width: 100%; /* Ensures wrapper doesn't exceed viewport width */
}

.mainpage-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
}

/* Ensure the image wrapper adjusts properly */
.image-wrapper::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: -8%;
    min-width: 2%;
    left: 0;
    background-color: #fadfb6;
}

.scale {
    width: 100%;
    height: auto;
}

/* Author */
.author {
    color: #6d4c41;
    margin: 2px;
    text-transform: capitalize;
    font-size: medium;
}

/* Post Links */
.post-link {
    text-decoration: none;
    color: #6d4c41;
}

.post-link:hover,
.page-link {
    color: #ff6905f3;
    font-weight: 800;
    transition: color 0.3s ease;
}

.post-title {
    margin-top: 1%;
    margin-left: 5%;
    font-weight: 700;
}

.post-subtitle {
    margin-left: 5%;
    color: #8d6e63;
}

/* Comments */
.comments {
    border-left: 3px solid #e0e0e0;
    margin-bottom: 1rem;
    padding-left: 1rem;
    background-color: #fff;
    padding: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.approval {
    background-color: #fce89a;
    padding: 10px;
    border-radius: 5px;
}

/* Button */
.btn-warning {
    background-color: #4e342e;
    color: #d7ccc8;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.btn-warning:hover {
    background-color: #ffb74d;
    transition: background-color 0.2s ease;
}

/* Faded Content */
.faded {
    opacity: 0.7;
}



/* Large devices (desktops) */
@media (min-width: 1900px) {
    .fixed-image {
        max-height: 250px;
    }
    footer {
        padding: 20px 30px;
    }
}

/* Smaller height on mobile */
@media (max-width: 768px) {
    .navbar-title {
        font-size: 2rem;
    }
    .fixed-image {
        max-height: 250px;
    }

    .image-wrapper {
        height: 25vh; 
        max-width: 100%;
    }

    .mainpage-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    footer {
        padding: 5px;
    }
}


/* Adjustments for 912px width */
@media (max-width: 912px) {
    .image-wrapper {
        height: 30vh;
    }

    .mainpage-image {
        width: 95%;
        height: 180%;
        object-fit: fill;
    }
   
}
