/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
   }

main {
    flex: 1 0 auto;
    background-color: rgb(205, 212, 255);
 }

/* Header */

.navbar-nav {
    background-color: rgb(249, 233, 236);
    box-shadow:chocolate -3px 5px 15px;
}


.nav-link {
    color: rgb(77, 41, 240);
}

.active {
    border-bottom: 2px solid  red;
    font-weight: 300;
}

.approval {
    color: rgb(255, 149, 0);
}

.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: 1px 2px 7px 0 #05ff2a61;
    border-radius: 2px;
}

/* Footer */
footer {
    flex-shrink: 0;
    background-color: rgb(237, 237, 237);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}

.icon {
    height: 2rem;
    margin: 1.5rem;
}