{% load static %}

<footer>
<!--Social icon-->
<a href="" target="_blank" rel="noopener" aria-label="github ">
    <img src="{% static '/icons/github.svg' %}" alt="github icon" class="icon"> 
</a>
<a href="" target="_blank" rel="noopener" aria-label="Facebook">
    <img src="{% static '/icons/facebook.svg' %}" alt="Facebook icon" class="icon"> 
</a>
<a href="" target="_blank" rel="noopener" aria-label="Instagram">
    <img src="{% static '/icons/instagram.svg' %}" alt="Facebook icon" class="icon"> 
</a>
<a href="" target="_blank" rel="noopener" aria-label="Messenger">
    <img src="{% static '/icons/messenger.svg' %}" alt="Facebook icon" class="icon"> 
</a>
<a href="" target="_blank" rel="noopener" aria-label="Twitter">
    <img src="{% static '/icons/twitter.svg' %}" alt="Facebook icon" class="icon"> 
</a>
</footer>