{% load static %}

<footer>
<!--Social icon-->
<a href="https://github.com/mufasa1611/Coffee_Beans-P4" target="_blank" rel="noopener" aria-label="github ">
    <img src="{% static '/icons/github.svg' %}" alt="github icon" class="icon"> 
</a>
<a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Facebook">
    <img src="{% static '/icons/facebook.svg' %}" alt="Facebook icon" class="icon"> 
</a>
<a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Instagram">
    <img src="{% static '/icons/instagram.svg' %}" alt="instagram icon" class="icon"> 
</a>
<a href="https://www.messenger.com/" target="_blank" rel="noopener" aria-label="Messenger">
    <img src="{% static '/icons/messenger.svg' %}" alt="messenger icon" class="icon"> 
</a>
<a href="https://x.com/" target="_blank" rel="noopener" aria-label="Twitter">
    <img src="{% static '/icons/twitter.svg' %}" alt="twitter icon" class="icon"> 
</a>
</footer>