{% load static %}

<header>
  {% with request.resolver_match.url_name as url_name %}
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">

      <!-- logo -->
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/coffee_cups.png' %}" alt="coffe logo" class="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- navbar -->
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link {% if url_name == 'home' %}active{% endif %}" aria-current="home" href="{% url 'home' %}">Home</a>
        </li>
        {% if request.user.is_authenticated %}
         <li class="nav-item">
            <a class="nav-link {% if url_name == 'accounts_logout' %}active{% endif %}" href="/account/logout/">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link {% if url_name == 'accounts_signup' %}active{% endif %}" href="/account/signup/">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if url_name == 'accounts_login' %}active{% endif %}" href="/account/login/">Login</a>
        </li>
          {% endif %}

          <!-- dropdown menu -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    More
  </a>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item {% if url_name == 'about' %}active{% endif %}" href="{% url 'about' %}">About Us</a>
    </li>
    <li><a class="dropdown-item {% if url_name == 'contact' %}active{% endif %}" href="{% url 'contact' %}">Contact us</a></li>
    
    <li><a class="dropdown-item" href="#">Coming soon</a></li>
  </ul>
</li>
</ul>
        <!-- search bar -->
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  {% endwith %}
</header>